h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

/* Whisky girl test image */
.test-div {
  background-image: url('../images/whisky-girl-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px 200px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }

  .test-div {
    background-position: 0px 480px;
  }
}
